.alignHeader {
    text-align:center;
    margin-top: 2%;
}

.registration-form {
    background: #E8E4E4;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}

.favionAddOn {
    width: 2.6rem;
}

.submitBtnAddOn {
    padding-top: 1rem;
}
