<!-- This html is used to for create events page -->
<div class="container eventFormPosition">
    <form class="form-horizontal" role="form" #eventData = "ngForm" (ngSubmit)= "addEvent(eventData)">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h3 class="alignHeader">Add New Event</h3>
                <hr>
            </div>
        </div>
        <!-- input event name, required -->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label" for="eventName">Event Name</label>
                    <input type="text" name="eventName" class="form-control" id="eventName" maxlength="20" #name="ngModel" ngModel required autofocus>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <span *ngIf = "name.invalid && name.touched" class="text-danger align-middle">
                        <i class="fa fa-close"></i> Event Name is required. 
                    </span>
                </div>
            </div>
        </div>
        <!-- input event venue, required -->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label" for="eventVenue">Event Venue</label>
                    <input type="text" name="eventVenue" class="form-control" id="eventVenue" 
                        maxlength="50" #venue="ngModel" ngModel required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <span *ngIf = "venue.invalid && venue.touched" class="text-danger align-middle">
                        <i class="fa fa-close"></i> Event Venue is required. 
                    </span>
                </div>
            </div>
        </div>
        <!-- input event date, required -->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label" for="eventDate">Event Date</label>
                    <span [owlDateTimeTrigger]="dt1"><input [owlDateTime]="dt1" name="eventDate" 
                        maxlength="10" class="form-control" #date="ngModel" ngModel required>
                    </span>              
                    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>              
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <span *ngIf = "date.invalid && date.touched" class="text-danger align-middle">
                        <i class="fa fa-close"></i> Event Date is required. 
                    </span>
                </div>
            </div>
        </div>
        <!-- input event time, required -->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label" for="eventTime">Event Time</label>
                    <span [owlDateTimeTrigger]="dt2"><input [owlDateTime]="dt2" name="eventTime" 
                        maxlength="6" class="form-control" #time="ngModel" ngModel required>
                    </span>              
                    <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>              
                </div>
            </div>
        <div class="col-md-3">
        <div class="form-control-feedback">
            <span *ngIf = "time.invalid && time.touched" class="text-danger align-middle">
                <i class="fa fa-close"></i> Event Time is required. 
            </span>
        </div>
            </div>
        </div>
        <!-- input available seats, required -->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label" for="availableSeats">Seats</label>
                    <input type="number" name="availableSeats" class="form-control" min="1" 
                        id="availableSeats" max="1000" 
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
                        maxlength="4" #seats="ngModel" ngModel required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <span *ngIf = "seats.invalid && seats.touched" class="text-danger align-middle">
                        <i class="fa fa-close"></i> Available Seats is required. 
                    </span>
                </div>
            </div>
        </div>     
        <div class="row buttonStyle">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <!-- Used to submit the form and create event -->
                <button type="submit" class="btn btn-lg btn-block btn-success" 
                    [disabled]="eventData.invalid || isBusy"><i class="fa fa-sign-in"></i> Add Event</button>
            </div>
        </div>
    </form>
</div>