.loginFormPosition {
    margin-top:5em;
}

.alignHeader {
    text-align:center;
    margin-top: 2%;
}

.login-form {
    background: #E8E4E4;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}

.emailAddOn {
    width: 2.6rem;
}

.passwordAddOn {
    width: 2.6rem;
}

.submitBtnAddOn {
    padding-top: 1rem;
}